.manage-body {
  width: 500px;
  height: 1080px;
}

.manage-title {
  font-size: 20px;
  font-weight: bold;
  margin-block: 25px 20px;
}

.applicant-div {
  width: 460px;
  height: 480px;
  background-color: #f2efff;
  border-radius: 25px;
}

.applicant-information {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  padding-top: 20px;
  img {
    width: 45px;
    height: 45px;
  }

  span {
    margin-inline: 5px 10px;
    font-size: 24px;
  }

  figure {
    display: flex;
    justify-content: center;
    margin-right: 24px;
    font-size: 12px;

    img {
      width: 32px;
      height: 29px;
      margin-right: 4px;
    }
  }

  button {
    width: 60px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
  }
}

.btn-approve {
  background-color: var();
  margin-right: 10px;
}

.btn-no {
  color: #ffffff;
  background-color: #323577;
}

.question-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 20px;

  dt {
    width: 420px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
  }

  dd {
    width: 420px;
    height: 150px;
    background-color: #fbfbfb;
    border-radius: 25px;
    border: 5px solid #c5baff;
    padding: 20px;
  }
}
