.mypage-body {
  width: 100%;
  max-width: 500px;
  min-width: 320px;
  height: 800px;
  margin-block: 25px;
  margin-inline: auto;

  h1 {
    font-family: var(--main-font);
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.profile-information-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  font-family: var(--sub-font-medium);
  width: 100%;
  height: 535px;
  box-shadow: 0 4px 15px var(--c-lavender-200);
  border-radius: 25px;

  figcaption {
    font-family: var(--sub-font-bold);
    color: var(--text-navy);
  }
}

.profile-information {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding-inline: 65px;
  padding-block: 40px 20px;

  .profile-img {
    width: 135px;
    height: 135px;
    border-radius: 50%;
  }
  .nickname {
    color: var(--text-navy);
    font-size: 20px;
    font-family: var(--main-font);
  }
  .email {
    color: var(--text-lavender);
    margin-block: 5px;
  }
  .etc {
    color: var(--text-darksky);
  }

  figure {
    display: flex;
    align-items: center;
    margin-top: 10px;

    svg {
      width: 36px;
      height: 32px;
      margin-right: 8px;
    }
  }
}

.profile-img-wrapper {
  position: relative;
  margin-right: 40px;
}

.pencil-btn {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  bottom: 5px;
  right: 0px;
  border-radius: 50%;
  background-color: white;
  border: 3px solid var(--border-navy);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  img {
    width: 18px;
    height: 18px;
  }
}

.my-introduce {
  font-size: 14px;
  width: 90%;
  max-width: 410px;
  min-width: 320px;
  dt {
    font-size: 16px;
    width: 100%;

    margin-bottom: 10px;
  }

  dd {
    border: 5px solid var(--border-lavender);
    border-radius: 25px;
    width: 100%;
    height: 80px;
    padding: 10px 20px;
  }
}

.history-meetings {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-block: 20px 25px;
  font-size: 20px;
  border: 5px solid var(--border-lavender);
  border-radius: 25px;
  width: 90%;
  max-width: 410px;
  min-width: 320px;
  height: 100px;

  p {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1; /* 양쪽 균등하게 분배 */
  }

  /* p태그 바로 다음에 오는(직계자식) span을 뜻함 */
  > span {
    color: var(--border-lavender);
    font-size: 40px;
    font-weight: 100px;
  }
}

.meetings-text {
  font-family: var(--sub-font-medium);
  margin-bottom: 5px;
}

.meetings-number {
  font-family: var(--main-font);
}

.history-button {
  font-size: 16px;
  font-family: var(--main-font);
  display: flex;
  justify-content: center;
  gap: 60px;
  width: 90%;
  max-width: 360px;

  /* Link 컴포넌트에서 렌더링하는 태그 */
  a {
    flex: 1;
    max-width: 150px;
  }

  button {
    width: 100%;
    height: 45px;
    color: var(--text-white);
    border-radius: 20px;
    cursor: pointer;
  }
}

.btn-bookmark {
  background-color: var(--bg-lavender);
}

.btn-attend-meetings {
  background-color: var(--bg-sky);
}

@media (min-width: 1024px) {
  .mypage-body {
    max-width: 850px;
    height: 1080px;
  }
}
