.wrap {
  padding: 25px 75px;
}
.Edit-wrap {
  display: flexbox;
  justify-content: center;
  margin: 0 auto;
  min-width: 320px;
  max-width: 974px;
}

.meetings-create h2 {
  font-family: var(--main-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}

.meetings-create label {
  font-family: var(--sub-font-medium);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-right: 40px;
}

.meetings-create input {
  border: 5px solid var(--border-lavender);
  border-radius: 25px;
  margin-bottom: 20px;
  margin-top: 15px;
  padding-left: 20px;
  font-family: var(--sub-font-medium);
}

.title-input {
  width: 100%;
  max-width: 864px;
  font-size: 14px;
  height: 45px;
  font-family: var(--sub-font-medium);
}

.content-input {
  width: 100%;
  max-width: 864px;
  min-width: 350px;
  min-height: 92px;
  max-height: 332px;
  border-radius: 25px;
  border: 5px solid var(--bg-lavender);
  padding: 10px 20px;
  margin-top: 15px;
  margin-bottom: 20px;
  font-family: var(--sub-font-medium);
  font-size: 14px;
  line-height: 1.6;
}

.meetings-create select {
  border: 5px solid var(--border-lavender);
  border-radius: 25px;
  padding: 0 20px;
  font-family: var(--sub-font-medium);
  font-size: 14px;
}

.category-select {
  width: 190px;
  height: 45px;
  line-height: 1.6;
  margin-bottom: 20px;
  margin-top: 20px;
}

.category-fieldset {
  position: relative;
}

.category-fieldset svg {
  position: absolute;
  top: 58px;
  left: 150px;
}

.ractingle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--bg-lavender);
}

.ractingle-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: var(--bg-white);
  border: 5px solid var(--border-lavender);
  border-radius: 25px;
  margin-top: 20px;
}

.tag-input {
  width: 100%;
  max-width: 864px;
  font-size: 14px;
  height: 45px;
  font-family: var(--sub-font-medium);
  color: var(--text-lavender);
}

.select-btn {
  width: 90px;
  height: 40px;
  border: 5px solid var(--border-lavender);
  border-radius: 25px;
  line-height: 1.6;
  text-align: center;
  font-size: 14px;
  margin-bottom: 20px;
}

.btn {
  background-color: var(--bg-lavender) !important;
  display: inline-block;
}

.field-parent-wrap {
  min-width: 290px;
  max-width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 0.05%;
}

.select-btn:nth-child(3) {
  padding: 0 !important;
  grid-column: 1/3;
  margin-top: 0;
  font-size: 14px;
}

.age-fieldset {
  position: relative;
  display: flex;
}

.age-fieldset label {
  margin-top: 10px;
}

.age-fieldset select {
  text-align: left;
}
.age-fieldset option {
  font-size: 14px;
}
.age-fieldset svg {
  position: absolute;
  top: 13px;
  left: 125px;
}

.gender-fieldset {
  position: relative;
  display: flex;
}

.gender-fieldset label {
  margin-top: 10px;
}

.gender-fieldset select {
  text-align: left;
}
.gender-fieldset option {
  font-size: 14px;
}
.gender-fieldset svg {
  position: absolute;
  top: 13px;
  left: 125px;
}

.count {
  display: flex;
  gap: 5px;
}

.counter-wrapper {
  border: 5px solid var(--border-lavender);
  border-radius: 25px;
  width: 110px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 35px;
}

.counter-wrapper input {
  border: none;
  text-align: center;
  padding: 5px 5px;
  line-height: 40px;
  margin: 0;
}

.counter-wrapper input::-webkit-inner-spin-button,
.counter-wrapper input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.counter-wrapper svg {
  display: flex;
}

.question-1-field {
  margin-top: 0;
}

.question {
  /* width: 14%; */
  margin: 0 auto;
}

.question label {
  margin-right: 50px;
}

.question input {
  width: 100%;
  max-width: 874px;
  height: 130px;
  text-align: center;
  padding: 10px 35px;
}

.btn {
  width: 100px;
  height: 45px;
  border-radius: 25px;
  margin-right: 60px;
  font-family: var(--sub-font-bold);
  text-align: center;
  padding: 5px;
}

.btn-2 {
  background-color: var(--bg-white) !important;
  width: 100px;
  height: 45px;
  border-radius: 25px;
  border: 5px solid var(--border-lavender);
  font-family: var(--sub-font-bold);
  text-align: center;
  padding: 5px;
}

.btn-wrap {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

@media (min-width: 1024px) {
  .wrap {
    padding: 25px 75px;
  }
  .Edit-wrap {
    margin: 35px auto;
  }

  .question {
    max-width: 980px;
    margin: 0 auto;
  }

  .question input {
    width: 100%;
    max-width: 864px;
  }
}
