.map-body {
  position: relative;
  width: 100%;
  height: 1084px;
}

.map {
  position: relative;
  width: 100%;
  min-width: 320px;
}

.metting-div {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c4d9ff;
  width: 100%;
  min-height: 200px;
  bottom: 0;
  border: 5px solid #889cce;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.metting-information {
  display: flex;
  align-items: center;
}

.metting-information-img {
  width: 140px;
  height: 125px;
}

.detail-information {
  margin-left: 40px;
  font-size: 14px;

  h3 {
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: bold;
  }
}

.filter-div {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 10px;
}
