.map-body {
  width: 500px;
  height: 1084px;
}

.map {
  position: absolute;
  width: 500px;
  height: 100%;
}

.metting-div {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c4d9ff;
  width: 500px;
  height: 280px;
  bottom: 0;
  border: 5px solid #889cce;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.metting-information {
  display: flex;
  align-items: center;
}

.metting-information-img {
  width: 140px;
  height: 125px;
}

.detail-information {
  margin-left: 40px;
  font-size: 14px;

  h3 {
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: bold;
  }
}
